@media only screen and (max-width: 85.375em) {
  .scanner {
    padding: 0 10%;
  }

  .scanner__box {
    width: 100%;
  }

  .btn {
    font-size: 5.4rem;
    width: 100%;
  }
}

@media only screen and (max-width: 40em) {
  .btn {
    font-size: 4.4rem;
  }
}

@media only screen and (max-width: 25.875em) {
  .btn {
    font-size: 3.4rem;
    margin-top: 5.4rem;
  }

  .popup__title {
    font-size: 2rem;
  }

  .popup__item {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 20em) {
  .scanner__box {
    height: 60%;
  }

  .btn {
    font-size: 2.4rem;
  }
}
